<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | Aryan Shukla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/69d727b4a3.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('../include/navbar'); %>
  <h1 class="text-center font">Experience</h1>
    <hr class="line">
    <div class="quote">
      <h5>“Experience without theory is blind, but theory without experience is mere intellectual play”<br> – Immanuel Kant</h5>
    </div>
    <hr class="line">
  <div class = "padd container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="/images/cognizant1.png" class="card-img-top" alt="...">
          <div class="card-body card-color">
            <h5 class="card-title">Salesforce Developer</h5>
            <p class="card-text card-margin">As a cloud developer, Collaborated with the project team, clients, and stakeholders, using agile methodologies and tools such as Jira, Git, and Slack, to ensure timely and quality delivery of the project.</p>
            <a class="text-alignment" href="#">more</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Dec-2022 To Present</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/images/cognizant1.png" class="card-img-top" alt="...">
          <div class="card-body card-color">
            <h5 class="card-title">Salesforce Developer Intern</h5>
            <p class="card-text card-margin">As a Salesforce Developer intern, I have Developed and deployed Salesforce applications using Apex, Visualforce, Lightning Web Components, and Salesforce APIs, following the best practices and standards of Salesforce development. </p>
            <a class="text-alignment" href="#">more</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">May-2022 To Oct-2022</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/images/exp-new.png" class="card-img-top" alt="...">
          <div class="card-body card-color">
            <h5 class="card-title">Full Stack Developer Intern</h5>
            <p class="card-text card-margin">A full stack developer with a proven track record of delivering end-to-end web solutions that meet the needs and expectations of clients and users.</p>
            <a class="text-alignment" href="#">more</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">June-2021 To August-2021</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../include/footer') %>

</body>
</html>