<footer>
    <div class="footer bg-dark">
        <h6 class="footer-h6">Thanks for visiting my website. Don't hesitate to reach out using the links below.</h6>
        <ul class="socials-footer">
            <li class="footer-li"><a class="footer-a" href="https://x.com/aryan_shukla_13?t=1T1dlxHS6-jwithutAf3Xw&s=09" target="_blank"><i class="footer-i fa fa-twitter"></i></a></li>
            <li class="footer-li"><a class="footer-a" href="https://github.com/AryanShukla13" target="_blank"><i class="footer-i fa fa-github"></i></a></li>
            <li class="footer-li"><a class="footer-a" href="https://www.linkedin.com/in/aryanshukla1/" target="_blank"><i class="footer-i fa-brands fa-linkedin"></i></a></li>
            <li class="footer-li"><a class="footer-a" href="#"><i class="footer-i fa-brands fa-telegram"></i></a></li>
            
        </ul>
        <div class="footer-copyright">
            <p class="footer-p">copyright &copy;2023 </p>
        </div>
    </div>
</footer> 